#app {
    width: 100%;
    height: 100vh;
    color: $dark;

    a {
        text-decoration: none;
    }
}

a>span,
button>span {
    pointer-events: none;
}

.wrapp {
    display: flex;
    background-color: $light;
    height: 100vh;

    .sidebar {
        background-color: $dark;
        width: 100%;
        max-width: 225px;
        position: fixed;
        z-index: 900;
        height: 100%;
        overflow: hidden;
        box-shadow: -4px 0 12px 6px rgb($dark, .25);

        .sidebar-inner {
            height: calc(100vh - $spacer);
            margin-top: $spacer / 2;
            overflow-x: hidden;
            overflow-y: auto;

            .header {
                background-color: $dark;

                a {
                    color: $light;

                    img {
                        width: 100%;
                    }

                    .logo-text {
                        font-size: 1.2rem;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                }
            }

            .sidebar-elements {
                .sidebar-element {

                    .nav,
                    .subnav {
                        .nav-link {
                            display: flex;
                            align-items: center;
                            color: $light;
                            padding: $spacer / 4 $spacer;
                            margin-bottom: 2px;

                            .icon {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    .nav {
                        .nav-link {
                            &.active {
                                background-color: rgb($light, 0.125);
                                border-radius: $border-radius;
                            }
                        }

                        &.subnav {
                            .nav-link {
                                &.active {
                                    background-color: rgb($light, 0);
                                    border-left: 3px solid rgb($primary, 0.25);
                                    border-radius: $border-radius / 4;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .main {
        background-color: transparent;
        width: 100%;

        .topbar {
            background-color: rgb($light-light, 0.125);
            display: flex;
            align-items: center;
            height: $topbar-height;
            border-bottom: 1px solid rgb($light-dark, 0.75);

            .sidebar-toggler {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                font-size: 1.5rem;
                position: relative;
                z-index: 901;

                &::before {
                    line-height: 0;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            height: calc(100vh - $topbar-height);
            overflow-x: hidden;
            overflow-y: auto;

            .content-inner {
                background-color: $white;
                border: 1px solid rgb($light-dark, 0.75);
            }

            .footer {
                margin-top: auto;
            }
        }
    }
}