body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $light-light;

    a,
    .btn-link {
        text-decoration: none;
    }
}

.header {
    min-height: $header-height;
}

.main {
    position: relative;

    .section {
        display: flex;
        align-items: center;
        min-height: 100vh;
        padding: $spacer * 2 0;

        .container {
            position: relative;
        }

        &.section-banner {
            min-height: unset;
            min-height: calc(100vh - $header-height);

            .lead {
                background-color: rgb($light-light, .25);
                border-radius: $border-radius-lg;
            }

            .banner-image,
            .banner-images {
                width: 100%;
                max-width: 475px;
                height: 100%;
                position: relative;

                img {
                    width: 100%;
                }
            }
        }

        &.default-section {

            .section-title {
                font-size: 120%;
                font-weight: 600;
                color: $dark-light;
            }

            .section-subtitle {
                font-size: 175%;
                font-weight: 700;
                color: $dark;
            }

            .section-content,
            .section-description {
                font-size: 110%;
            }

            .section-image,
            .section-images {
                width: 100%;
                max-width: 475px;
                height: 100%;
                position: relative;

                img {
                    width: 100%;
                }
            }
        }
    }
}

.footer {
    position: relative;
}