@media(min-width: 576px) {
    .main {
        .section {
            &.default-section {
                .section-title {
                    font-size: 130%;
                }

                .section-subtitle {
                    font-size: 225%;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .main {
        .section {
            &.default-section {
                .section-title {
                    font-size: 150%;
                }

                .section-content,
                .section-description {
                    font-size: 125%;
                }

                .section-subtitle {
                    font-size: 250%;
                }
            }
        }
    }
}

@media(min-width: 992px) {
    .main {
        .section {
            &.section-banner {
                background-color: transparent;
            }

            &.default-section {
                .section-subtitle {
                    font-size: 275%;
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .main {
        .section {
            &.section-banner {

                .section-image,
                .section-images {
                    max-width: 575px;
                }
            }

            &.default-section {

                .section-image,
                .section-images {
                    max-width: 500px;
                }
            }
        }
    }
}